[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Tt]est[Rr]esults
[Tt]est-[Rr]esults/
packages/

.vs/
*.userprefs
*.suo
*.user
*.sln.docstates
*.userprefs
*.meta
*.obj
*.pch
*.pdb
*.tmp
*.log
*.pidb
*.DS_Store
*.nupkg
TestResult.xml

